<nav class="nav nav-masthead justify-content-center">
    <a class="nav-link {{#compare url '/' operator="==" }} active {{/compare}}" href="/">Home</a>
    <a class="nav-link {{#compare url '/about-me' operator="=="}} active {{/compare}}" href="/about-me">About Me</a>
    <a class="nav-link {{#compare url '/contact-me' operator="=="}} active {{/compare}}" href="/contact-me">Contact Me</a>
</nav>